<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reel Talk</title>
    <link rel="stylesheet" href="main.css">
</head>

<body>
    <div id="rater"></div>
    <header>
        <h1>Reel Talk</h1>
        <nav>
            <ul>
                <nav>
                    <!-- Conditionally render login or logout links -->
                    {{#if logged_in}}
                    <li><a href="/">Home</a></li>
                    <li><a href="/createreview">Review</a></li>
                    <button class="button" id="logout">logout</button>
                    {{else}}
                     <li><a href="/login">Log In</a></li>
                     <li><a href="/createuser">Create Account</a></li>
                    {{/if}}
                </nav>
            </ul>
        </nav>
    </header>
    <main>

        {{{ body }}}
    </main>
    {{!--
    <script src="node-modules/rater-js/index.js"></script> --}}

    {{#if logged_in}}
    <script src="/js/logout.js"></script>
    {{/if}}
</body>

</html>