{{!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create User</title>
    <link rel="stylesheet" href="createuser.css">
</head>
<body> --}}
    <h1>Create User</h1>
    <form id="createUserForm">
        <label for="username-signup">Username:</label>
        <input type="text" id="username-signup" name="username-signup" required>
        <br>
        <label for="email-signup">Email:</label>
        <input type="email" id="email-signup" name="email-signup" required>
        <br>
        <label for="password-signup">Password:</label>
        <input type="password" id="password-signup" name="password-signup" required>
        <br>
        <button type="submit">Create User</button>
    </form>



<script src="./js/create.js"></script>
